body {
    margin: 0 auto;
    font-family: Helvetica;
}
   
.cover {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    text-align: center;
}

.cover {
    width:100vw;
    height:100vh;
}

.coverText {
    font-size: 5em;
    color: #70707c;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.footer {
    text-align: center;
    padding: 3px;
    background-color: #ceced1;
    grid-column: span 12;
}

footer p {
    font-size: 1rem;
    color: white;
}

